.code { tab-size: 4; }
.code .indent::before { position: absolute; content: "⟩"; }

.code              { color: #FF0000; }
.code .indent      { color: #CFCFCF; }
.code .empty-block { color: #AFAFAF; }

.code .syntax      { color: #7F007F; }
.code .keyword     { color: #7F007F; font-weight: bold; }
.code .case        { color: #007F00; }
.code .label       { color: #007F00; }
.code .insn        { color: #000000; }
.code .expr-op     { color: #3F3F00; }

.code .int         { color: #007F3F; }
.code .flag        { color: #0000FF; }
.code .var         { color: #3F007F; }
.code .attr        { color: #3F7F7F; }
.code .char        { color: #7F3F00; }
.code .char-attr   { color: #7F7F00; }

.code .time        { color: #00AF3F; }
.code .speed       { color: #00AF3F; }
.code .angle       { color: #00AF3F; }
.code .color       { color: #000000; }

.code .color-splat {
	display: inline-block;
	height: 1em;
	height: 1cap;
	width: 2ch;
}

*[title] {
	text-decoration: underline dotted;
}
