:root {
	--night0:  #2E3440; /* nord0 */
	--night1:  #3B4252; /* nord1 */
	--night2:  #434C5E; /* nord2 */
	--night3:  #4C566A; /* nord3 */
	--night4:  #616E88; /* nord3bright */
	--snow0:   #D8DEE9; /* nord4 */
	--snow1:   #E5E9F0; /* nord5 */
	--snow2:   #ECEFF4; /* nord6 */
	--frost0:  #8FBCBB; /* nord7 */
	--frost1:  #88C0D0; /* nord8 */
	--frost2:  #81A1C1; /* nord9 */
	--frost3:  #5E81AC; /* nord10 */
	--aurora0: #BF616A; /* nord11 */
	--aurora1: #D08770; /* nord12 */
	--aurora2: #EBCB8B; /* nord13 */
	--aurora3: #A3BE8C; /* nord14 */
	--aurora4: #B48EAD; /* nord15 */
}

:root {
	--base-bg: var(--night0);
	--base-text: var(--snow2);
	--whitespace: var(--night3);
	--unimportant: var(--snow0);

	--base-font: sans-serif;
	font-family: var(--base-font);
	font-size: 12px;
}

@media (prefers-color-scheme: light) { :root {
	--base-bg: #FFFFFF;
	--base-text: var(--night0);
	--whitespace: var(--snow0);
	--unimportant: var(--night4);
} }

body {
	background: var(--base-bg);
	color: var(--base-text);
}

a[href] {
	color: var(--frost3);
}

*[title] {
	text-decoration: underline dotted;
}

.code { tab-size: 4; }
.code .indent      {
	color: var(--whitespace);
	position: relative;
}
.code .indent::before {
	content: "⟩";
	position: absolute;
}

/* .code              { color: #FF0000; } */
.code .empty-block { color: var(--unimportant); }

.code .syntax      { color: var(--frost2); }
.code .keyword     { color: var(--frost2); font-weight: bold; }
.code .expr-op     { color: var(--frost2); }
.code .case        { color: var(--aurora4); }
.code .label       { color: var(--aurora1); }
.code .insn        { color: var(--base-text); }

.code .int         { color: var(--aurora4); }
.code .speed       { color: var(--aurora4); }
.code .angle       { color: var(--aurora4); }
.code .time        { color: var(--aurora4); }

.code .flag        { color: var(--aurora1); }
.code .var         { color: var(--aurora2); }
.code .attr        { color: var(--aurora2); }
.code .char-attr   { color: var(--aurora2); }

.code .char        { color: var(--aurora3); }
.code .member      { color: var(--aurora3); }
.code .color       { color: var(--base-text); }
.code .magic       { color: var(--aurora2); }
.code .sepith-element { color: var(--aurora3); }

.code .char.char-npc     { text-decoration-color: var(--aurora1); }
.code .char.char-monster { text-decoration-color: var(--aurora0); }
.code .char.char-self    { color: var(--aurora4); }

.code .color-splat {
	display: inline-block;
	height: 1em; height: 1cap;
	width: 1em; width: 1cap;
	vertical-align: -5%;
}

.code .magic::before, .code .sepith-element::before {
	content: "";
	display: inline-block;
	height: 1em; height: 1cap;
	width: 1em; width: 1cap;
	vertical-align: -5%;

	--icon-x: 4; --icon-y: 4;
	background: url("/fc/ui/icon1.png");
	background-position: calc(var(--icon-x)/15*100%) calc(var(--icon-y)/15*100%);
	background-size: 1600%;
}

.code .magic-unknown::before { --icon-x:  7; --icon-y: 3; }
.code .magic-craft::before   { --icon-x: 12; --icon-y: 2; }
.code .magic-scraft::before  { --icon-x: 10; --icon-y: 2; }
.code .magic-earth::before   { --icon-x:  8; --icon-y: 3; }
.code .magic-water::before   { --icon-x:  9; --icon-y: 3; }
.code .magic-fire::before    { --icon-x: 10; --icon-y: 3; }
.code .magic-wind::before    { --icon-x: 11; --icon-y: 3; }
.code .magic-time::before    { --icon-x: 14; --icon-y: 3; }
.code .magic-space::before   { --icon-x: 12; --icon-y: 3; }
.code .magic-mirage::before  { --icon-x: 13; --icon-y: 3; }

.code .sepith-element-earth::before   { --icon-x: 9;  --icon-y: 11; }
.code .sepith-element-water::before   { --icon-x: 10; --icon-y: 11; }
.code .sepith-element-fire::before    { --icon-x: 11; --icon-y: 11; }
.code .sepith-element-wind::before    { --icon-x: 12; --icon-y: 11; }
.code .sepith-element-time::before    { --icon-x: 13; --icon-y: 11; }
.code .sepith-element-space::before   { --icon-x: 14; --icon-y: 11; }
.code .sepith-element-mirage::before  { --icon-x: 15; --icon-y: 11; }

.code .block {
	margin-left: calc(var(--indent) * 4ch);
	width: max-content;
	font-family: var(--base-font);
	vertical-align: middle;
}

.code .menu { display: table; }
.code .menu-row { display: table-row; }
.code .menu-idx { display: table-cell; text-align: right; color: var(--unimportant); }
