:root {
	--night0:  #2E3440; /* nord0 */
	--night1:  #3B4252; /* nord1 */
	--night2:  #434C5E; /* nord2 */
	--night3:  #4C566A; /* nord3 */
	--night4:  #616E88; /* nord3bright */
	--snow0:   #D8DEE9; /* nord4 */
	--snow1:   #E5E9F0; /* nord5 */
	--snow2:   #ECEFF4; /* nord6 */
	--frost0:  #8FBCBB; /* nord7 */
	--frost1:  #88C0D0; /* nord8 */
	--frost2:  #81A1C1; /* nord9 */
	--frost3:  #5E81AC; /* nord10 */
	--aurora0: #BF616A; /* nord11 */
	--aurora1: #D08770; /* nord12 */
	--aurora2: #EBCB8B; /* nord13 */
	--aurora3: #A3BE8C; /* nord14 */
	--aurora4: #B48EAD; /* nord15 */
}

:root {
	--base-bg: var(--night0);
	--base-text: var(--snow2);
	--whitespace: var(--night3);
	--unimportant: var(--snow0);

	font-family: sans-serif;
	font-size: 12px;
}

@media (prefers-color-scheme: light) { :root {
	--base-bg: #FFFFFF;
	--base-text: var(--night0);
	--whitespace: var(--snow0);
	--unimportant: var(--night4);
} }

%icon {
	display: inline-block;
	height: 1em; height: 1cap;
	width: 1em; width: 1cap;
	vertical-align: -5%;
}

%icon-sheet {
	background-position:
		calc(var(--icon-x) / (var(--icon-w) - 1) * 100%)
		calc(var(--icon-y) / (var(--icon-h) - 1) * 100%);
	background-size:
		calc(var(--icon-w) * 100%)
		calc(var(--icon-h) * 100%);
}

@mixin icon-sheet($url, $w, $h, $x, $y) {
	@extend %icon-sheet;
	background-image: url("/fc/ui/icon1.png");
	--icon-w: #{$w}; --icon-h: #{$h};
	--icon-x: #{$x}; --icon-y: #{$y};
}

body {
	background: var(--base-bg);
	color: var(--base-text);
}

a[href] {
	color: var(--frost3);
}

*[title] {
	text-decoration: underline dotted;
}

ruby { ruby-align: center; }
rt { white-space: pre; }

.code {
	tab-size: 4;
	.indent      {
		color: var(--whitespace);
		position: relative;
	}
	.indent::before {
		content: "⟩";
		position: absolute;
	}

	/*              { color: #FF0000; } */
	.empty-block { color: var(--unimportant); }

	.syntax      { color: var(--frost2); }
	.keyword     { color: var(--frost2); font-weight: bold; }
	.expr-op     { color: var(--frost2); }
	.case        { color: var(--aurora4); }
	.label       { color: var(--aurora1); }
	.insn        { color: var(--base-text); }

	.int         { color: var(--aurora4); }
	.speed       { color: var(--aurora4); }
	.angle       { color: var(--aurora4); }
	.time        { color: var(--aurora4); }
	.emote       { color: var(--aurora4); }

	.flag        { color: var(--aurora1); }
	.var         { color: var(--aurora2); }
	.attr        { color: var(--aurora2); }
	.char-attr   { color: var(--aurora2); }
	.member-attr { color: var(--aurora2); }

	.char        { color: var(--aurora3); }
	.member      { color: var(--aurora3); }
	.color       { color: var(--base-text); }
	.magic       { color: var(--aurora2); }
	.sepith-element { color: var(--aurora3); }

	.char-npc     { text-decoration-color: var(--aurora1); }
	.char-monster { text-decoration-color: var(--aurora0); }
	.char-self    { color: var(--aurora4); }

	.color-splat {
		@extend %icon;
	}

	.magic::before, .sepith-element::before {
		content: "";
		@extend %icon;
		@include icon-sheet("/fc/ui/icon1.png", 16, 16, 4, 4);
	}

	.magic-unknown::before { --icon-x:  7; --icon-y: 3; }
	.magic-craft::before   { --icon-x: 12; --icon-y: 2; }
	.magic-scraft::before  { --icon-x: 10; --icon-y: 2; }
	.magic-earth::before   { --icon-x:  8; --icon-y: 3; }
	.magic-water::before   { --icon-x:  9; --icon-y: 3; }
	.magic-fire::before    { --icon-x: 10; --icon-y: 3; }
	.magic-wind::before    { --icon-x: 11; --icon-y: 3; }
	.magic-time::before    { --icon-x: 14; --icon-y: 3; }
	.magic-space::before   { --icon-x: 12; --icon-y: 3; }
	.magic-mirage::before  { --icon-x: 13; --icon-y: 3; }

	.sepith-element-earth::before   { --icon-x:  9; --icon-y: 11; }
	.sepith-element-water::before   { --icon-x: 10; --icon-y: 11; }
	.sepith-element-fire::before    { --icon-x: 11; --icon-y: 11; }
	.sepith-element-wind::before    { --icon-x: 12; --icon-y: 11; }
	.sepith-element-time::before    { --icon-x: 13; --icon-y: 11; }
	.sepith-element-space::before   { --icon-x: 14; --icon-y: 11; }
	.sepith-element-mirage::before  { --icon-x: 15; --icon-y: 11; }

	.emote::before {
		content: "";
		@extend %icon;

		background: url("/fc/ui/emotio.png?edit=regrid:8,8,64,1");
		animation: emote infinite;
		animation-duration: calc((var(--emote-end) - var(--emote-start)) * var(--emote-time));
		animation-timing-function: steps(calc(var(--emote-end) - var(--emote-start)), end);
		background-size: 6400% 100%;
	}

	@keyframes emote {
		from { background-position-x: calc(var(--emote-start)/63 * 100%) }
		to   { background-position-x: calc(var(--emote-end)/63 * 100%) }
	}

	.block {
		margin-left: calc(var(--indent) * 4ch);
		width: max-content;
		font-family: sans-serif;
	}

	.menu { display: table; }
	.menu-row { display: table-row; }
	.menu-idx { display: table-cell; text-align: right; color: var(--unimportant); }

	.text-title {
		font-family: sans-serif;
		color: #FFF;
		text-shadow: 0.1em 0.1em 0.1em #333;
		padding-left: 0.4em;
		margin-left: -0.3em;
		padding-right: 1em;
		$w: 99;
		$h: 20;
		border-image-source: url("/fc/ui/waku3.png?edit=crop:10,141,#{$w},#{$h},256,256");
		border-image-slice: calc(7/$h*100%) calc(50/$w*100%) calc(12/$h*100%) calc(7/$w*100%) fill;
		border-image-width: 0.5em 50% 0.5em 0.5em;
		border-image-repeat: stretch stretch;
	}

	.talk {
		color: #FFF;
		text-shadow: 0.1em 0.1em 0.1em #333;

		.talk-page {
			// The real thing probably uses waku3, but no idea how to make use of that
			border-image-source: url("/fc/ui/waku1.png?edit=crop:0,0,48,48,256,256");
			border-image-slice: 33% fill;
			border-image-width: 1em;
			border-width: 1em;
			border-style: solid;
		}

		.text { line-height: 1.2em; }

		.text-unknown { background: red; }

		.text-size-0 { font-size:  50%; }
		.text-size-1 { font-size:  75%; }
		.text-size-2 { font-size: 100%; }
		.text-size-3 { font-size: 125%; }
		.text-size-3 { font-size: 150%; }
		.text-size-4 { font-size: 175%; }
		.text-size-5 { font-size: 200%; }

		.text-color-0  { color: #FFFFFF; }
		.text-color-2  { color: #FF5522; }
		.text-color-4  { color: #FFBB44; }
		.text-color-5  { color: #88FFAA; }
		.text-color-12 { color: #AACCEE; }

		.text-color-1, .text-color-3, .text-color-6,
		.text-color-7, .text-color-8, .text-color-9,
		.text-color-10, .text-color-11, .text-color-13,
		.text-color-14, .text-color-15 {
			background: red;
		}

		.talk-face-wrapper {
			display: inline-block;
			vertical-align: top;
			width: 6.5em;
			height: 4.5em;
			transform: scaleX(-1);
			position: relative;
			> .talk-face-visible {
				position: absolute;
				width: 8em;
				height: 8em;
				margin: -3em -0.5em -0.5em -0.5em;
				pointer-events: none;
			}
			> .talk-face-click {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}

		.talk-text {
			display: inline-block;
			vertical-align: top;
		}
	}
}
